#register .header {
  height: 132px;
  background-color: #eef2f4;
}
#register .header ul {
  margin-bottom: 0;
}
#register .header li.item {
  display: inline-block;
  line-height: 132px;
  padding: 0 20px;
}
#register .header li.item a {
  color: #7d8c96;
}
#register .header .banner {
  display: inline-block;
  line-height: 132px;
}
#register .content {
  height: calc(100vh - 200px);
  min-height: 600px;
  background-color: #FFF;
}
#register .content .inner {
  width: 600px;
  margin: 0 auto;
  padding-top: 80px;
}
#register .content .inner h4 {
  margin-bottom: 48px;
}
#register .footer {
  height: 68px;
  background-color: #eef2f4;
}
#register .footer span {
  line-height: 68px;
}
.content .detail-info {
  width: 720px;
  margin: 48px auto;
  padding-right: 40px;
}
