.tag {
  display: inline-block;
  width: 120px;
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  margin: 8px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
}
.tag.purple {
  color: #887aea;
  border-color: #887aea;
}
.tag.purple.selected {
  background-color: #887aea;
  color: #FFF;
}
.tag.yellow {
  color: #ffb236;
  border-color: #ffb236;
}
.tag.yellow.selected {
  background-color: #ffb236;
  color: #FFF;
}
.tag.green {
  color: #63c43b;
  border-color: #63c43b;
}
.tag.green.selected {
  background-color: #63c43b;
  color: #FFF;
}
.tag.blue {
  color: #10c1ff;
  border-color: #10c1ff;
}
.tag.blue.selected {
  background-color: #10c1ff;
  color: #FFF;
}
.tag.red {
  color: #ff6161;
  border-color: #ff6161;
}
.tag.red.selected {
  background-color: #ff6161;
  color: #FFF;
}
