mixin sidebar()
	.sidebar.col-md-4
		.relate
			.item
				a(href="#")
					img(src="./images/relate1.jpg")
					span DG数千万元投资“YOGO”，机器人已投入商用领域

			.item
				a(href="#")
					img(src="./images/relate2.jpg")
					span 人工智能迎发展机遇期 中国产业热潮却在降温？
		.hot
			h2 热门话题
			.topics
				.group
					label 金融
					span 证券投资
					span 金融研究
					span 期货市场
					span 债务市场

				.group
					label 财政
					span 证券投资
					span 金融研究
					span 期货市场
					span 债务市场

				.group
					label 金融
					span 证券投资
					span 金融研究
					span 期货市场
					span 债务市场