extend ./templates/layout.pug

block content
	.container.content.bg-white#fulfill
		.inner
			div
				span Hi! 奇异博士，欢迎来到论文社区，去完善
					a(href="") 我的资料
			div.action
				a.btn.btn-primary.btn-lg.large(href="favor.html") 下一步




