extend ./templates/layout.pug

append style
	link(href='./css/responsive-carousel.css', rel='stylesheet')
	link(href='./css/responsive-carousel.slide.css', rel='stylesheet')
append script
	script(src='./js/responsive-carousel.js')
	script(src='./js/responsive-carousel.keybd.js')
	script(src='./js/responsive-carousel.touch.js')
	script(src='./js/responsive-carousel.drag.js')
	script(src='./js/responsive-carousel.autoinit.js')
	script(src='./js/responsive-carousel.autoplay.js')
	script(src='./js/index.js')
block content
	.container.content
		+sidebar
		.inner
			.carousel(data-transition='slide' data-autoplay data-interval='2000')
				div
					img(src='./images/slide01.jpg')
				div
					img(src='./images/slide02.jpg')
				div
					img(src='./images/slide03.jpg')
			.filter
				ul
					li.active
						a(href='#') 最新列表

					li
						a(href='#') 热门关注

					li
						a(href='#') 个人兴趣推荐
			+articles




