@import "normalize.less";
@import "common.less";
@import "nav.less";
@import "btn.less";
@import "dropdown.less";

body{
	background-color: #eef2f4;
}

.nav.navbar-right .user{
    border-left: 1px solid #e6e6e6;
    padding: 0px 16px;
    line-height: 12px;
    margin-top: 12px;
    margin-right: 0;
    a{
        padding: 0;
    }
}
.container.content {
    &.content{
        margin-top: 20px;
        padding: 0;
    }
}
.carousel{
    height: 300px;
    .carousel-nav{
        .prev, .next{
            position: absolute;
            top: 45%;
            display: inline-block;
            width: 50px;
            height: 48px;
            z-index: 99;
            opacity: 0.5;
            text-indent: -99999px;
            &:hover{
                opacity: 1;
            }
        }

        .prev{
            left: 10px;
            background: url(../images/left.png);
        }
        .next{
            right: 10px;
            background: url(../images/right.png);

        }
    }
}
.filter{
    margin-top: 20px;
    li{
        display: inline-block;
        line-height: 24px;
        padding: 6px 12px;
        font-size: 14px;
        &.active{
            background-color: #10c1ff;
            border-radius: 20px;
            a{
                color: #FFF;
            }
        }
    }
}
.articles{
    background-color: #FFF;
    padding: 12px;
    .article{
        margin-bottom: 12px;
        .cover{
            display: inline-block;
            width: 180px;
            img{
                max-width: 100%;
                height: 120px;
            }
        }
        .desc{
            display: inline-block;
            width: 498px;
            margin-left: 12px;
            vertical-align: top;
            color: #34495e;
            font-size: 14px;
            h3{
                margin: 0;
                margin-bottom: 8px;
            }
            a{
                color: #3797e8;
            }
            .info{
                margin: 16px 0 8px;
                font-size: 12px;
                img{
                    vertical-align: bottom;
                    margin-right: 6px;
                }
                span{
                    color: #999999;
                    &::before{
                        content: '.';
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        color: #34495e;
                        vertical-align: super;
                        margin-left: 10px;
                    }
                }
            }
            .summary{
                a{
                    margin-left: 12px;
                }
            }
        }
    }
}

.sidebar{
    .relate{
        background-color: #FFF;
        padding: 20px;
        .item{
            width: 100%;
            height: 140px;
            margin-bottom: 20px;
            a{
                display: block;
                position: relative;
                font-size: 0;
                img{
                    width: 100%;
                    height: 140px;
                }
                span{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0,0,0, 0.5);
                    color: #FFF;
                    font-size: 14px;
                    padding: 12px 8px;
                    overflow: hidden;
                    word-wrap: break-word;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    box-sizing: border-box;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .hot{
        background: #FFF;
        margin-top: 20px;
        font-size: 12px;
        h2{
            margin: 0;
            padding: 12px;
            border-bottom: 1px solid #eee;
            font-size: 16px;
        }
        .topics{
            padding: 12px;
        }
        .group{
            margin-bottom: 12px;
            label, span{
                margin-right: 5px;
            }
            label{
                display: inline-block;
                background-color: #3797e8;
                color: #FFF;
                padding: 3px 6px;
            }
        }
    }
}
#LoginModal{
    .modal-body{
        padding: 0 100px 15px;
    }
}














