@import "normalize.less";
@import "common.less";
@import "nav.less";
@import "btn.less";
@import "dropdown.less";

body{
	background-color: #eef2f4;
}

.header{
    height: 48px;
    top: 0;
    background-color: white;
    z-index: 50;
    padding: 13px 0 14px 0;
    white-space: nowrap;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.08);
}
.container {
	width: 1024px;
	margin: 0 auto;
    &.content{
        margin-top: 20px;
    }
    >.inner{
        width: 720px;
    }
    >.sidebar{
        width: 280px;
    }
}
.carousel{
    height: 300px;
    .carousel-nav{
        .prev, .next{
            position: absolute;
            top: 45%;
            display: inline-block;
            width: 50px;
            height: 48px;
            z-index: 99;
            opacity: 0.5;
            text-indent: -99999px;
            &:hover{
                opacity: 1;
            }
        }

        .prev{
            left: 10px;
            background: url(../images/left.png);
        }
        .next{
            right: 10px;
            background: url(../images/right.png);

        }
    }
}
.filter{
    li{
        display: inline-block;
        line-height: 24px;
        padding: 6px 12px;
        font-size: 14px;
        &.active{
            background-color: #10c1ff;
            border-radius: 20px;
            a{
                color: #FFF;
            }
        }
    }
}


