mixin login()
	#LoginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='LoginModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times;
						span.sr-only Close
				.modal-body
					div
						.pull-right
							| 还没有账号? 
							a(href='') 立即注册
						h4 登录
					form.bottom(role='form')
						.form-group
							input#username.form-control(type='email', placeholder='请输入用户名/邮箱')
						.form-group
							input#password.form-control(type='password', placeholder='请输入密码')
						.form-group
							.row
								.col-md-8
									input#captcha.form-control(type='text', placeholder='请输入验证码')
								.col-md-4
						.checkbox
							label
								input(type='checkbox')
								|  保持登录
						.form-group
							button.btn.btn-primary.btn-lg.btn-block(type="button") 登录
					div
						.pull-right
							a(href='') 忘记密码?
						span.hint 如果登录出现异常，请清除浏览器缓存后再尝试。

